  *{margin:0;padding:0;list-style:none;}
	a{text-decoration:none;color:#333;}
	.clearfix:before,.clearfix:after{content:'';display:block;visibility:hidden;height:0;clear:both;}
  .clearfix{zoom:1;}
  html{font-size:100%;}
	body,button,input,select,textarea{font-size:1em;font-family: tahoma,arial,'Hiragino Sans GB',\5b8b\4f53,sans-serif;}
	h3{font-size:1.75em;line-height:1.5em;color:#777;font-weight:700;margin:0 0 0.5625em 0;}