    *{margin:0;padding:0;list-style:none;}
	a{text-decoration:none;color:#333;}
	.clearfix:before,.clearfix:after{content:'';display:block;visibility:hidden;height:0;clear:both;}
    .clearfix{zoom:1;}
	body,button,input,select,textarea{font:12px/1.5 tahoma,arial,'Hiragino Sans GB',\5b8b\4f53,sans-serif;}
	/********* 导航部分  *********/
      .moudle{width:100%;}
      .home-wrap{margin-top:47px;padding-bottom:15px;}
      .head-inner{width:1024px;margin:0 auto;}
      .con-left{float:left;}
      .logo h3{width:163px;height:84px;background:url(../images/logo.png)no-repeat left top;}
      .logo h3 a{display:block;text-indent:-1000px;}
      .con-right{float:right;}
      .wrapper{margin-left:75px;width:786px;}
      .hotcall{float:right;margin-left:555px;}
      .head-nav{float:left;margin-top:20px;}
      .head-nav ul{overflow:hidden;}
      .head-nav li{float:left;overflow:hidden;line-height:27px;text-align:center;}
      .head-nav a{float:left;color:#737373;font-size:14px;display:inline-block;margin:0px 12px;}
      .head-nav b{float:left;display:inline;margin:0 3px;}
      .head-nav li.current a{border-bottom:2px solid #C6A779;}
      .head-nav li:hover a{border-bottom:2px solid #C6A779;}
/****** footer **********/
    .footer-wrap{background:#9c7652;padding:40px 0;}
    .footer-inner{width:1024px;margin:0 auto;}
    .footer-link,.footer-nav,.footer-contact{
      float:left;width:33.33%;padding:15px;box-sizing:border-box;text-align:center;
    }
    .footer-wrap .btn{width:100px;height:30px;background:#fff;color:#9c7652;font-size:14px;margin:15px auto ;text-align:center;line-height:30px;}
    .footer-link,.footer-nav{background:url(../images/f_line.jpg)no-repeat right top;}
    .footer-wrap p a{display:inline-block;padding:10px 15px;color:#fff;}
    .footer-nav p{text-align:left;}
    .footer-contact ul{text-align:left;margin-top:15px;}
    .footer-contact ul li{line-height:30px;font-size:14px;color:#D3BF96;}